@media all and (max-width: 1025px){
    #naslov h1{
        font-size: 40px;

    }
    #naslov p{
        font-size: 20px;
    }
    #naslov{
        
        right: 75px;
    }
    
    
}

