
     @media screen and (max-width: 450px)
    {
        .MySkills{
            flex-direction: column;
            text-align: center;
        }
    }
    @media screen and (max-width: 690px)
    {
        .redP{
            flex-direction: column;
        }
        .proj{
            margin: auto;
            width: 100%;
        }
        .redForma{
            flex-direction: column;
        }
        .form-group-50{
            width: 100%;
        }
    }    
    @media screen and (max-width: 390px)
    {
        .MySkills i{
            width: 70px;
            height: 70px;
            background: #323232;
            color: #719c62;
            font-size: 40px;
            text-align: center;
            line-height: 70px;
            border-radius: 30%;
            
        }
    }
    @media screen and (max-width: 332px)
    {
        .naslov h1, p{ 
            text-align: left;
        }
    }
    
     @media screen and (max-width: 594px)
    {
        .MySkills{
            width: 50%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width: 426px){
        nav ul{
            display: grid;
        }
        .slikaOMeni img {
            width: 40px;
            
        }

        #menu{
            display: grid;
        }

        .MySkills{
            flex-wrap: wrap;
        }
        .logo{
            width: 100%;
        }
        .MySkills{
            width: 70%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    } 
    @media screen and (max-width: 440px){
        .slikaOMeni img{
            border-radius: 0%;
            width: 90%;
        }
        nav ul li{
            margin-left: 0px;
            text-align: center;
        }
        nav ul{
            flex-direction: column;
        }
        .okv{
            margin: auto;
        }
        #menu{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
    }
